<div class="widget form-group">
	<label [attr.for]="id" class="horizontal control-label">
		{{ schema.title }}
	</label>
	<div class="widget form-group">
		<span *ngIf="schema.description" class="formHelp">{{ schema.description }}</span>

		<kendo-datepicker
			[formControl]="control"
			[placeholder]="schema.placeholder"
			[weekNumber]="schema.showWeekNumber || false"
			[min]="minDate"
			[max]="maxDate"
			[attr.name]="name"
			[attr.id]="id"
			>
			<ng-template kendoCalendarMonthCellTemplate let-date>
				<span [class.k-state-selected]="isDateInRange(date)">{{ date.getDate() }}</span>
			</ng-template>
	        <ng-template kendoCalendarWeekNumberCellTemplate let-context="cellContext">
				<span class="weeknumber-cell">{{ getWeekNumber(context) }}</span>
			</ng-template>
		</kendo-datepicker>

		<input *ngIf="schema.readOnly" [attr.name]="name" type="hidden" [formControl]="control">

		<ul>
			<li>Min = {{ minDate }}</li>
			<li>Max = {{ maxDate }}</li>
		</ul>

	</div>
